/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 66, 60, 52;
  --background-rgb: 249, 247, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
  
  p, span, a, button {
    @apply font-sans;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f3f0ed;
}

::-webkit-scrollbar-thumb {
  background: #9d9589;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #82796e;
}